/* body {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

#arc14 {
  fill: blue;
} */

body {
  font-family: "Arial", sans-serif;
}

.bar {
  fill: #5f89ad;
}

.axis {
  font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}

svg {
  margin-left: 300px;
}

text {
  font-size: 16px;
  font-weight: bolder
}
